
[dir='rtl'] .triangle-topright {
	width: 0;
	height: 0;
	border-top: 16px solid;
	border-right: 32px solid transparent;
}
[dir='ltr'] .triangle-topright{
	width: 0;
	height: 0;
	border-top: 16px solid;
	border-left: 32px solid transparent;
}

