/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 5, 2018, 11:23:59 AM
    Author     : MASOOD
*/

table.receipt-table {
	font: 15px/24px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 40%;
        border: 1px solid #CCC;
        background: #FFC;
	}
        
table.receipt-table caption {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
        text-align: center;
        margin-bottom: 1px;
        border: 1px solid #CCC;
        background-color: #FB7A31
}

table.receipt-table th {
	padding: 0 0.5em;
	text-align: left;
	}

table.receipt-table tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}

table.receipt-table td {
	border: 1px solid #CCC;
	padding: 0 0.5em;
	}

table.receipt-table td:first-child {
	width: auto;
	}

table.receipt-table td+td {
	/*border-left: 1px solid #CCC;*/
	text-align: center;
	}