/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2019, 9:37:59 AM
    Author     : masood
*/

@media screen and (min-width: 0px) and (max-width: 400px) {
  #tickets-list-left-panel { /* show it on large screen */
      display: none; 
  }  
  #tickets-list { /* show it on large screen */
      display: none; 
  }  
}