<md-content 
    class="md-padding"
    layout-padding
    flex>
    <mb-titled-block 
        mb-progress="ctrl.loading || ctrl.removing"
        mb-title="{{'Tenant'| translate}}"
        layout="column">

        <div layout-padding>
            <table>
                <tr>
                    <td translate="">ID</td>
                    <td>: {{::ctrl.tenant.id}}</td>
                </tr>
                <tr>
                    <td translate="">Title</td>
                    <td><mb-inline
                            mb-inline-type="text"
                            mb-inline-enable="{{true}}"
                            mb-inline-on-save="ctrl.update()"
                            ng-model="ctrl.tenant.title">: {{ctrl.tenant.title}}</mb-inline></td>
                </tr>
                <tr>
                    <td translate="">Subdomain</td>
                    <td><mb-inline
                        mb-inline-type="text"
                        mb-inline-enable="{{true}}"
                        mb-inline-on-save="ctrl.update()"
                        ng-model="ctrl.tenant.subdomain">: {{ctrl.tenant.subdomain}}</mb-inline></td>
                </tr>
                <tr>
                    <td translate="">Domain</td>
                    <td><mb-inline
                        mb-inline-type="text"
                        mb-inline-enable="{{true}}"
                        mb-inline-on-save="ctrl.update()"
                        ng-model="ctrl.tenant.domain">: {{ctrl.tenant.domain}}</mb-inline></td>
                </tr>
                <tr>
                    <td translate="">Creation Date</td>
                    <td>: {{ctrl.tenant.creation_dtime| mbDate:'jYYYY-jMM-jDD'}}</td>
                </tr>
                <tr>
                    <td translate="">Last Modified Date</td>
                    <td>: {{ctrl.tenant.modif_dtime| mbDate:'jYYYY-jMM-jDD'}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="!ctrl.edit" layout-gt-xs="row"
             layout="column">
            <span flex></span>
            <md-button 
                class = "md-raised md-accent"
                ng-click="ctrl.remove()"
                aria-label="Delete tenant">
                <span translate="">Delete</span>
            </md-button>
            <md-button 
                class = "md-raised"
                ng-href="http://{{ctrl.tenant.domain}}"
                aria-label="Delete tenant">
                <span translate="">Go to</span>
            </md-button>
        </div>
    </mb-titled-block>

    
    <mb-titled-block 
        mb-progress="ctrl.ownersPromise"
        mb-title="{{'Owners'| translate}}"
        layout="column">
        <md-list flex>
			<md-list-item 
				ng-repeat="user in ctrl.owners track by user.id"
				ng-href="ums/accounts/{{::user.id}}"
				class="md-3-line">
				<img 
					class="md-avatar"
					ng-src="/api/v2/user/accounts/{{::user.id}}/avatar" 
					ng-src-error="https://www.gravatar.com/avatar/{{ ::user.id | wbmd5 }}?d=identicon&size=32"/>
                <div 
                    class="md-list-item-text" 
                    layout="column">
                    <h3>{{user.profiles[0].first_name}} - {{user.profiles[0].last_name}}</h3>
                    <h4>
                        <span ng-show="user.is_active">
                            <span translate>Active</span>,
                        </span>
                        <span ng-show="!user.is_active">
                            <span translate>Inactive</span>,
                        </span>
                    </h4>
                    <p>
                        <span translate>Joined</span>: {{user.date_joined}},
                        <span translate>Last Login</span>: {{user.last_login}},
                    </p>
                </div>
                <wb-icon
                    class="md-secondary md-hue-3"
                    aria-label="Delete Owner"
                    ng-click="ctrl.deleteOwner(user, $event)">delete</wb-icon>
                <md-divider md-inset></md-divider>
			</md-list-item>
        </md-list>
        <div
            layout="row">
            <span flex></span>
            <md-button
                class="md-icon-button"
                ng-click="ctrl.addOwners()">
                <wb-icon>add</wb-icon>
            </md-button>
        </div>
    </mb-titled-block>
    
</md-content>


