<md-content
    mb-infinate-scroll="ctrl.loadNextPage()"
    layout="column"
    flex>
    <!-- Action bar -->
    <mb-pagination-bar
        mb-model="ctrl.queryParameter"
        mb-reload="ctrl.reload()"
        mb-sort-keys="ctrl.sortKeys"
        mb-more-actions="ctrl.actions"
        mb-properties="ctrl.properties">
    </mb-pagination-bar>
    <!-- Preloading. -->
    <div 
        layout="column" 
        layout-align="start center">
        <md-progress-linear 
            ng-if="ctrl.state === 'busy' || ctrl.tenantSaving"
            class="md-accent"
            md-diameter="96"> {{'Loading ...'| translate}} 
        </md-progress-linear>
    </div>
    <!-- Tenants list -->
    <div layout="column"
         ng-if="ctrl.state !== 'busy' && (ctrl.items.length === 0 && !ctrl.loadingItems)">
        <p style="text-align: center" translate="">List is empty.</p>
        <div layout="row"
             layout-align="center center">
            <md-button
                class="md-raised" 
                ng-click="ctrl.add()">
                <wb-icon>add</wb-icon>
                <span translate>New tenant</span>
            </md-button>
        </div>
    </div>
    <md-list 
        ng-if="ctrl.state !== 'busy' && ctrl.items.length > 0"
        flex>
        <md-list-item 
            ng-repeat="pobject in ctrl.items track by pobject.id"
            class="md-3-line" 
            ng-href="{{'tenant/tenants/' + pobject.id}}"
            style="cursor: pointer">
            <wb-icon>domain</wb-icon>
            <div 
                class="md-list-item-text" 
                layout="column">
                <h3 ng-if="pobject.title">{{pobject.title}}</h3>
                <p><span translate="">Subdomain: </span>{{pobject.subdomain}}</p>
                <p ng-if="pobject.domain"><span translate="">Domain: </span>{{pobject.domain}}</p>
            </div>
            <md-button 
                class="md-icon-button" 
                ng-href="http://{{pobject.domain}}"
                target="_blank">
                <wb-icon aria-label="Go to tenant">reply</wb-icon>
                <md-tooltip md-direction="right"><span translate="">Go to tenant</span></md-tooltip>
            </md-button>
            <md-divider md-inset></md-divider>
        </md-list-item>
    </md-list>
</md-content>

