<div
    id="tickets-list-left-panel"
    layout="column"
    flex
    layout-align="center center">
    <img 
        width="80px"
        height="80px"
        ng-src="https://copypastecommissions.net/wp-content/uploads/2015/11/chat-2-icon11.png"
        class="md-avatar"/>
    <p translate="">Select a ticket</p>
</div>