<md-content
	mb-preloading="ctrl.status === 'loading'"
	layout="column"
	flex>
	<div>
		<md-input-container class="md-block" flex-gt-xs>
			<label translate>ID</label>
			<input ng-model="tenant.id" disabled>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label translate>Title</label>
			<input ng-model="tenant.title">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label translate>Description</label>
			<input ng-model="tenant.description">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label translate>Sub Domain</label>
			<input ng-model="tenant.subdomain"  disabled>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label translate>Domain</label>
			<input ng-model="tenant.domain">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label translate>Creation date</label>
			<input ng-model="tenant.creation_dtime" disabled>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label translate>Modification date</label>
			<input ng-model="tenant.modif_dtime" disabled>
		</md-input-container>
	</div>
	<div layout="row">
		<span flex></span>
		<md-button
			class="md-accent md-raised"
			ng-click="remove()">
			<wb-icon>delete</wb-icon>
			<span translate>Delete</span>
		</md-button>
		<md-button
			class="md-raised"
			ng-click="update()">
			<wb-icon>save</wb-icon>
			<span translate>Save</span>
		</md-button>
	</div>
</md-content>

