<md-content 
	flex
	layout="column" 
	mb-infinate-scroll="nextPage()" 
	mb-preloading="ctrl.loadingInvoices"> 
	<!-- Action bar --> 
	<mb-pagination-bar
		mb-model="paginatorParameter" 
		mb-reload="reload()"
		mb-sort-keys="sortKeys" 
		mb-sort-keys-titles="sortKeysTitles"
		mb-more-actions="moreActions">
	</mb-pagination-bar> 
	<!-- Group info --> 
	<md-list 
		flex 
		ng-if="!ctrl.loadingInvoices && ctrl.items.length">
		<md-list-item
			ng-repeat="item in ctrl.items" 
			class="md-3-line"
			ng-href="{{'tenant/invoices/'+item.id}}"
			md-colors="{backgroundColor: item.status==='payed' ? 'background': 'accent-100'}"> 
			<wb-icon>{{item.status == 'payed' ? 'done' : 'attach_money'}}</wb-icon> 
			<div class="md-list-item-text" layout="column">
				<h3>{{item.title}}</h3>
				<h4>{{'Amount' | translate}}: {{item.amount}}</h4>
				<p>{{item.due_dtime | mbDate:'jYYYY-jMM-jDD'}}</p>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item> 
	</md-list>
	<div layout="column" ng-if="!ctrl.loadingInvoices && !ctrl.items.length">
		<h3 style="text-align: center" translate>Nothing found.</h3>
	</div>

</md-content>


