<md-content
	layout="column"
	layout-padding
	flex>
	
	<md-whiteframe 
		class="md-whiteframe-5dp" >
		<table>
			<tr><td>ID</td><td>: {{tenant.id}}</td></tr>
			<tr><td>domain</td><td>: {{tenant.domain}}</td></tr>
			<tr><td>subdomain</td><td>: {{tenant.subdomain}}</td></tr>
			<tr><td>creation_dtime</td><td>: {{tenant.creation_dtime}}</td></tr>
			<tr><td>modif_dtime</td><td>: {{tenant.modif_dtime}}</td></tr>
			<tr><td>description</td><td>: {{tenant.description}}</td></tr>
		</table>
		<md-progress-circular 
			ng-if="ctrl.status === 'loading'" 
			md-diameter="96">
		</md-progress-circular>
	</md-whiteframe >
	
	
	<md-whiteframe 
		class="md-whiteframe-5dp" >
		<h4 translate>Owners</h4>
		<hr/>
		<md-button>
			<span>Manage</span>
		</md-button>
	</md-whiteframe>
	
	
	<md-whiteframe 
		class="md-whiteframe-5dp" >
		<h4 translate>Members</h4>
		<hr/>
		<md-button>
			<span>Manage</span>
		</md-button>
	</md-whiteframe>
	
	
	<md-whiteframe 
		class="md-whiteframe-5dp" >
		<h4 translate>Authotia</h4>
		<hr/>
		<md-button>
			<span>Manage</span>
		</md-button>
	</md-whiteframe>
</md-content>

